//共通部分
html {
  // font-size: 0.78vw;
  font-size: 62.5%; //10px;
  // @include max-screen($break_sp) {
  //     font-size: 1vw;
  // }
}
body {
  width: 100%;
  // background-color: $accent_color;
  @include txt_font();
  position: relative;
}

li {
  list-style: none;
}

img{
  width: 100%;
}

a{
  text-decoration: none;
}

.bgline{
  position: absolute;
  border-left: 1px solid rgba(#F0F0F0, 0.47);
  height: 100%;

  &:nth-child(1){
    left:138px;
    @include size_calc(left, 2.2rem,13.8rem,22px ,138px);
  }
  &:nth-child(2){
    left:472px;
    @include size_calc(left, 13.2rem, 47.2rem,132.5px ,472px);
  }
  &:nth-child(3){
    right:472px;
    @include size_calc(right, 13.2rem,47.2rem,132.5px ,472px);
  }
  &:nth-child(4){
    right: 138px;
    @include size_calc(right, 2.2rem,13.8rem,22px ,138px);
  }
}

.text-reveal {
  // font-family: 'Lato', sans-serif;
  span {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $main_color;
      transform-origin: left;
      transform: scale(1, 1);
    }
    &:after {
     content: "\A";
     white-space: pre;
    }
    @for $i from 1 through 5 {
      &:nth-of-type(#{$i}) {
        &:before {
          $delay: $i * 2;
          animation: reveal-text 600ms cubic-bezier(0.645, 0.045, 0.355, 1) unquote("0.#{$delay}s") forwards;
        }
      }
    }
  }
}

@keyframes reveal-text {
  100% {
    transform: scale(0, 1)
  }
}

.outline {
  position: absolute;
  z-index: -1;
  left: calc(50% + 5px);
  top: -4px;
  transform: translateX(-50%);
  display: inline-block;
  color: $accent_color;
  /* 文字の色 */
  font-size: clamp(30px,6rem, 60px);
  /* 文字のサイズ */
  letter-spacing: 0;
  /* 文字間 */
  line-height: 1.33;
  text-shadow: 1px 1px 0 $main_color, -1px 1px 0 $main_color, 1px -1px 0 $main_color, -1px -1px 0 $main_color, 1px 0 0 $main_color, 0 1px 0 $main_color, -1px 0 0 $main_color, 0 -1px 0 $main_color;
  /* 文字の影 */
  &_title {
    // h2 {
    font-family: $main_font;
    font-size: clamp(30px,6rem, 60px);
    letter-spacing: 0;
    line-height: 1.33;
    color: $title_color;
    position: relative;
    z-index: 2;
    // display: inline-block;
    // width: fit-content;
    margin: 0 auto;


  }
}
