@import url('https://fonts.googleapis.com/css?family=Lato');

$max_width: 1280px;
$break_sp: 640px;
$break_pc:1280px;
$main_color: #2A84AC;
$title_color: #FEE757;
$txt_color: #222222;
$accent_color: #F0F0F0;
$main_font: 'Montserrat', sans-serif;
$sub_font: YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif; // $yu_font: YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
// $eng_font: 'Noto Sans JP', sans-serif; /* 変数宣言 */
$eng_font: 'Oswald', sans-serif;
$bold_font: "Neue Haas Unica W1G", sans-serif;
// $medium_font: "objectivemedium", sans-serif;
