.footer {
  position: relative;
  display: flex;
  background-color: #222222;
  color: #fff;

  &-inner {
    flex: 1;
    position: relative;
    // height: 612px;
  }

  &-txt {
    position: absolute;
    font-family: $eng_font;
    @include font_size_calc(1.2rem ,1.8rem, 12px, 18px);
    letter-spacing: 0.1em;
    line-height: 2.22;
    bottom: 49px;
    @include size_calc(bottom, 3.7rem, 5.1rem, 37px, 51px);
    right: 51px;
    @include size_calc(right, 3.2rem, 4.9rem, 32px, 49px);
    @include max-screen($break_sp) {
      line-height: 3.33;
    }
  }

  .side {
    padding-bottom: 353px;
    @include size_calc(height, 25.7rem, 61.2rem, 257px, 612px);
    // @include size_calc(padding-bottom, 25.7rem, 35.3rem, 257px, 353px);
    // @include size_calc(padding-bottom, 3.5rem, 37.1rem, 35px, 371px);
    a {
      color: #fff;
      text-decoration: none;
    }

    &-txt {
      margin-bottom: 10px;
      @include max-screen($break_sp) {
        display: block;
      }

      &::before {
        content: none;
      }
    }

    @-webkit-keyframes side_arrows {
      0% {
        -webkit-transform:  translateY(200px);
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        -webkit-transform:  translateY(0px);
        opacity: 0;
      }
    }

    #side-arrow {
      -webkit-animation: side_arrows 3s infinite;
    }


  }
}
