.member {
  display: flex;
  background-color: rgba(#2A84AC,.38);
  position: relative;
  padding-top: 80.5px;
  @include size_calc(padding-bottom, 9.5rem, 19.3rem, 95px, 193px);

  // &::before {
  //   content: "";
  //   background-color: rgba(#2A84AC,.38);
  //   position: absolute;
  //   top: -10px;
  //   z-index: 0;
  //   top: -200px;
  //   width: 100%;
  //   padding-top: 200px;
  // }
  &-slider {
      overflow: hidden;
      position: absolute;
      top: 0px;
      max-width: 100%;
      @include max-screen($break_sp) {
        top:200px;
      }

      &_sp {
        display: none;
        position: absolute;
          max-width: 100%;
        @include max-screen($break_sp) {
          display: block;
          bottom: 100px;
        }
      }
    }



  .side {
    &-txt {
      color: #fff;

      &::before {
        background-color: #fff;
      }
    }
  }

  &-inner {
    flex: 1;
    @include size_calc(padding-right, 2rem, 13.8rem, 20px, 138px);
    max-width: 1142px;
    margin: 0 auto;
    text-align: center;
  }

  &-ttl {
    @include ttl;
  }

  &-txt {
    @include txt(20);
    color: #FEE757;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  &-pic {
    color: rgba(#2A84AC, 0.38);
    width: 43.5%;
    @include max-screen($break_sp) {
      width: 100%;
    }
  }

  &-explan {
    flex: 1;
    padding-left: 70px;
    padding-right: 140px;
    @include padding_size_calc(0rem, 7rem, 0px, 70px);
    color: #fff;
    text-align: left;

    &-txt {
      text-align: left;
      font-size: 1.5rem;
      font-family: $sub_font;
      // @include font_size_calc(1rem ,1.5rem, 10px, 15px);
      letter-spacing: 0.05em;
      // line-height: 1.75;
      // color: $txt_color;
      // font-weight: 500;

line-height: 1.75;

      // font-size: 14px;
      // letter-spacing: 0.07em;
      // line-height: 2.42;
      // line-height: 1.94;
      font-weight: 500;
      // font-size: calc(1.6rem + ((1vw - .64rem) * .3125));
      @include font_size_calc(1.5rem ,1.6rem, 15px, 16px);
      margin-bottom: .5em;
      // @include max-screen($break_sp) {
      //   font-size: 12px;
      //   line-height: 1.83;
      // }
      // @include txt(18);
      color: #fff;
      // &:nth-child(1) {
      //   margin-bottom: 0;
      // }
      strong {
        font-size: 30px;
        line-height: 1;
      }

      small {
        font-size: 18px;
      }

      span {
        &:after {
          content: "\A\A";
          white-space: pre;
        }
      }
    }
  }
}
