$color-1: #79CEED;
$color-2: #C5E7F1;
$color-3: #eee;
$color-4: #BEF2E5;

.main-navigation {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .main-navigation__link {
    text-decoration: none;
    color: $main_color;
    font-size: 2.5rem;
    // font-family: Helvetica, arial, sans-serif;
    font-family: $main_font;
    // padding: 4% 0.2rem;
    font-weight: bold;
    transition: all 300ms ease;
    position: relative;
    display: block;

    // @media (min-width: 480px) {
    @include max-screen($break_sp) {
      font-size: 2rem;
    }

    &:after {
      content: '';
      display: block;
      width: 10px;
      height: 2px;
      background: $color-2;
      position: absolute;
      bottom: 18%;
      left: 0;
      transform-origin: left;
      transition: all 300ms ease-out;
    }

    &:hover {
      &:after {
        transform: scaleX(4);
      }
    }
  }
}

.btn-link {
  display: flex;
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  // color: $color-1;
    // color: $main_color;

  // font-size: 14px;
  font-size:4rem;
  font-weight: bold;
  letter-spacing: 3px;
  // font-family: Helvetica, arial, sans-serif;
  font-family: $main_font;
  position: relative;
  // transform: translateY(-10px);s
  // color: #333;//非対応のブラウザでの文字色を設定
  // color: $main_color;
// background: url(images/satin-nuss.jpg);//使用する背景画像のURL
// -webkit-background-clip: text;//テキストでくり抜く
// -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
// color: transparent;
color: #fff;
text-stroke: 1.5px  $main_color;;
-webkit-text-stroke: 1.5px  $main_color;


  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: calc(50% - 60px);
    transform-origin: top;
    transition: all 300ms ease;
    transform: scaleY(0);
    background: $color-1;
    top: 20px;
    left: 50%;
    margin-left: -2px;
    opacity: 1;
  }

  &:hover {
    &:before {
      transform: scaleY(1);
    }
  }

  // span{
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   color: $txt_color;
  //   font-size:3rem;
  //   font-family: $sub_font;
  //   transform: translate(-40%,-50%);
  // }

}

.menu-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 3;
  background: $color-2;
  border: none;
  box-shadow: none;
  outline: none;
  width: 40px;
  height: 40px;
  padding: 0;
  font-family: Helvetica, arial, sans-serif;
  font-size: 10px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 300ms ease;

  &:after {
    content: '+';
    width: 30px;
    height: 30px;
    display: block;
    color: #000;
    font-size: 24px;
    font-weight: lighter;
    transition: all 300ms ease;
  }

  &:hover {
    transform: scale(1.1);
  }

  &.menu-trigger--menu-open {
    &:after {
      transform: rotate(765deg);
    }
  }
}

.menu {
  height: 100vh;
  width: 100vw;
  height: 100%;
  width: 100%;
  display: grid;
  overflow-y: auto;
  grid-template-columns: 100%;
  grid-template-rows: 20% 20% 20% 10% 10% 10% 10%;

  // @media (min-width: 480px) {
  @include max-screen($break_sp) {
    grid-template-columns: 30% 70%;
    grid-template-rows: 25% 25% 25% 25%;
  }

  @media (min-width: 800px) {
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 60% 40%;
  }

}

.menu__item {
  opacity: 0;
  transition: all 200ms ease;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;

  .menu__item__bg-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: overlay;
    transform-origin: center;
    transform: scale(2);
    transition: all 2000ms ease-out;
    z-index: 1;
  }

  .menu__item__content {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: all 300ms ease;
  }

  &:first-child {
    background-color: $color-1;

    .btn-link {
      // color: #eee;
      &:before {
        background: #ccc;
      }
    }
  }

  &:nth-child(2) {
    background-color: $color-2;
  }

  &:nth-child(3) {
    background-color: $color-1;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;

    // @media (min-width: 480px) {
    @include max-screen($break_sp) {
      grid-column-start: 2;
      grid-row-start: 1;
      grid-row-end: 5;
    }

    @media (min-width: 800px) {
      grid-column-start: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }

  }

  &:nth-child(4) {
    background-color: $color-3;
  }

  &:nth-child(5) {
    background-color: $color-4;
  }

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      transition-delay: #{$i * 50}ms;

      .menu__item__bg-container {
        // background-image: url(https://picsum.photos/800/600?image=#{$i * 11});
        background-image: url("../img/menu_#{$i}.jpg")
      }

      .menu__item__content {
        transition-delay: #{($i * 50) - 50}ms;
      }

      @if $i % 2 == 0 {
        transform-origin: left;
        transform: scaleX(0);
      } @else {
        transform-origin: bottom;
        transform: scaleY(0);
      }
    }

    .menu--open & {
       &:nth-child(#{$i}) {
          transition-delay: #{$i * 200}ms;
         .menu__item__content {
           transition-delay: #{($i * 200) + 500}ms;
         }
       }
    }
  }

  .menu--open & {
    transform: scale(1);
    opacity: 1;
    transition: all 400ms ease;

    .menu__item__bg-container {
      transform: scale(1);
    }

    .menu__item__content {
      opacity: 1;
    }

    &:hover {
      .menu__item__bg-container {
        transform: scale(1.2);
      }
    }
  }

}
