.side {
  // flex:10%;
  width: 10%;
  max-width: 138px;
  @include size_calc(width, 2.2rem, 13.8rem, 22px, 138px);
  // transform-origin: left bottom;
  // transform: rotate(-90deg);
  align-self: flex-end;
  text-align: center;

  &-txt {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    margin: 100px auto;
    font-family: $eng_font;
    @include font_size_calc(1rem ,1.6rem, 10px, 16px);
    @include max-screen($break_sp) {
      display: none;
    }

    &::before {
      content: "";
      background-color: $txt_color;
      width: 60px;
      height: 1px;
      display: inline-block;
      transform: rotate(90deg) translateX(-40px);
    }
  }

  @-webkit-keyframes arrows {
    0% {
      -webkit-transform:  translateY(-200px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform:  translateY(0px);
      opacity: 1;
    }
  }
}

#arrow {
  -webkit-animation: arrows 3s infinite;
}
