.top {
  display: flex;
  padding-bottom: 310px;
  position: relative;
  // overflow: hidden;
  @include max-screen($break_sp) {
    padding-bottom: 90px;
  }

  &::before {
    content: "";
    // height: 500px;
    // height: 40vw;
    height: 50%;
    width: 100%;
    // background-color: #fff;
    background-color: rgba(#2A84AC, 0.38);
    position: absolute;
    // z-index:1;
    // top: 0;
    bottom: 0px;
    left: 0;
  }

  &-btn {
    position: fixed;
    z-index: 10;
    bottom: 40px;
    right: 40px;
    background-color: #222222;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    display: inline-block;
    padding: 20px 70px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.05em;
    border-radius: 0.5rem;
    border-radius: 100vh;
    @include max-screen($break_sp) {
      bottom: 10px;
      right: 10px;
          padding: 17px 40px;
    }
    img {
      // height: 100vh;
      // height: 21px;
      // display: inline-block;
      padding-left: 20px;
      width: auto;
      vertical-align: middle;
      @include max-screen($break_sp) {
      padding-left: 17px;
      }
    }

    &:hover {
      color: #fff;
      background: #f56500;
    }
  }

  &-inner {
    flex: 1;
    background-image: url("../img/top_img.jpg");
    background-size: cover;
    background-position: center center;
    // position: relative;
    // color: #fff;
    height: 654px;
    position: relative;
    @include max-screen($break_sp) {
      height: 320px;
      margin-top: 120px;
    }
  }

  &-ttl {
    position: absolute;
    bottom: -100px;
    @include size_calc(bottom,-3.6rem ,-10rem, -36px, -100px);
    padding: 0 10%;
    // font-family: $main_font;
    font-size: 100px;
    @include font_size_calc(3.6rem ,10rem, 36px, 100px);
    letter-spacing: 0.12em;
    line-height: 1.05;
    color: #fff;
    @include max-screen($break_sp) {
      padding: 0;
      top: -106px;
      color: $txt_color;
      line-height: 1.55;
    }
    @include min-screen($break_pc) {
      padding: 0 138px;
    }

    ._colorBlack {
      color: $txt_color;
      @include max-screen($break_sp) {
        color: #fff;
      }
    }
  }

  &-txt {
    font-family: $main_font;
    font-size: 42px;
    letter-spacing: 0.04em;
    color: transparent;
    -webkit-text-stroke: 1px #333333;
    position: absolute;
    bottom: -195.5px;
    padding: 0 10%;
    @include max-screen($break_sp) {
      display: none;
    }
    @include min-screen($break_pc) {
      padding: 0 138px;
    }
  }

  &-right-txt{
    position: absolute;
    right: 14px;
    @include size_calc(right,.3rem ,1.4rem, 3px, 14px);
    text-orientation: sideways;
    transform: rotate(180deg);
    bottom:50%;
    writing-mode: vertical-lr;
    font-family: $eng_font;
    @include font_size_calc(.9rem ,1.2rem, 9px, 12px);
    letter-spacing: 0.14em;
    line-height: 2.22;
  }
}

$color-1: #79CEED;
$color-2: #C5E7F1;
$color-3: #eee;
$color-4: #BEF2E5;

.main-navigation {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .main-navigation__link {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-family: Helvetica, arial, sans-serif;
    padding: 4% 0.2rem;
    font-weight: bold;
    transition: all 300ms ease;
    position: relative;
    display: block;

    // @media (min-width: 480px) {
    @include max-screen($break_sp) {
      font-size: 2rem;
    }

    &:after {
      content: '';
      display: block;
      width: 10px;
      height: 2px;
      background: $color-2;
      position: absolute;
      bottom: 18%;
      left: 0;
      transform-origin: left;
      transition: all 300ms ease-out;
    }

    &:hover {
      &:after {
        transform: scaleX(4);
      }
    }
  }
}

.btn-link {
  display: flex;
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $color-1;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: Helvetica, arial, sans-serif;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: calc(50% - 60px);
    transform-origin: top;
    transition: all 300ms ease;
    transform: scaleY(0);
    background: $color-1;
    top: 20px;
    left: 50%;
    margin-left: -2px;
    opacity: 1;
  }

  &:hover {
    &:before {
      transform: scaleY(1);
    }
  }

}

.menu-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 3;
  background: $color-2;
  border: none;
  box-shadow: none;
  outline: none;
  width: 40px;
  height: 40px;
  padding: 0;
  font-family: Helvetica, arial, sans-serif;
  font-size: 10px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 300ms ease;

  &:after {
    content: '+';
    width: 30px;
    height: 30px;
    display: block;
    color: #000;
    font-size: 24px;
    font-weight: lighter;
    transition: all 300ms ease;
  }

  &:hover {
    transform: scale(1.1);
  }

  &.menu-trigger--menu-open {
    &:after {
      transform: rotate(765deg);
    }
  }
}

.menu {
  height: 100vh;
  width: 100vw;
  display: grid;
  overflow-y: auto;
  grid-template-columns: 100%;
  grid-template-rows: 20% 20% 20% 10% 10% 10% 10%;

  // @media (min-width: 480px) {
  @include max-screen($break_sp) {
    grid-template-columns: 30% 70%;
    grid-template-rows: 25% 25% 25% 25%;
  }

  @media (min-width: 800px) {
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 60% 40%;
  }

}

.menu__item {
  opacity: 0;
  transition: all 200ms ease;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;

  .menu__item__bg-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: overlay;
    transform-origin: center;
    transform: scale(2);
    transition: all 2000ms ease-out;
    z-index: 1;
  }

  .menu__item__content {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: all 300ms ease;
  }

  &:first-child {
    background-color: $color-1;

    .btn-link {
      color: #eee;
      &:before {
        background: #ccc;
      }
    }
  }

  &:nth-child(2) {
    background-color: $color-2;
  }

  &:nth-child(3) {
    background-color: $color-1;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;

    // @media (min-width: 480px) {
    @include max-screen($break_sp) {
      grid-column-start: 2;
      grid-row-start: 1;
      grid-row-end: 5;
    }

    @media (min-width: 800px) {
      grid-column-start: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }

  }

  &:nth-child(4) {
    background-color: $color-3;
  }

  &:nth-child(5) {
    background-color: $color-4;
  }

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      transition-delay: #{$i * 50}ms;

      .menu__item__bg-container {
        background-image: url(https://picsum.photos/800/600?image=#{$i * 11});
      }

      .menu__item__content {
        transition-delay: #{($i * 50) - 50}ms;
      }

      @if $i % 2 == 0 {
        transform-origin: left;
        transform: scaleX(0);
      } @else {
        transform-origin: bottom;
        transform: scaleY(0);
      }
    }

    .menu--open & {
       &:nth-child(#{$i}) {
          transition-delay: #{$i * 200}ms;
         .menu__item__content {
           transition-delay: #{($i * 200) + 500}ms;
         }
       }
    }
  }

  .menu--open & {
    transform: scale(1);
    opacity: 1;
    transition: all 400ms ease;

    .menu__item__bg-container {
      transform: scale(1);
    }

    .menu__item__content {
      opacity: 1;
    }

    &:hover {
      .menu__item__bg-container {
        transform: scale(1.2);
      }
    }
  }

}
